mixin loginForm()
    form.form(action="/login" method="POST")
        h2 Login
        lable(for="email") Email Address
        input(type="email" name="email")
        lable(for="password") Passowrd
        input(type="password" name='password')
        input.button(type="submit" value='Log in -->')